[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
gunicorn = "*"
flask = "*"
scipy = "*"
numpy = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-script = "*"
"psycopg2" = "*"
flask-wtf = "*"
flask-bcrypt = "*"
flask-testing = "*"
coverage = "*"
flask-cors = "*"
flask-bootstrap = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
"psycopg2-binary" = "*"
python-dotenv = "*"
pip = "*"

[requires]
python_version = "2.7"
