{% extends "base.html" %}
{% block title %}QAnalyze - XRD pattern chart{% endblock %}
{% block content %}
<div id="xrdPlot" style="width:1200px;height:400px;"></div>
<div class="container">
    <div class="container row">
        <button id="analyze" class="btn btn-primary">Analyze</button>
        <button id='addrm' class="btn btn-primary" style="display: none">Add/Remove phase</button>
    </div>
    <div id="result" class="panel panel-default row" style="display: none">
        <div class="panel-body">
            <div class="col-lg-3">
                <h4>Mode: {{ mode.title }}</h4>
                <h4>Database: {{ mode.inventory }}</h4>
            </div>
            <div class="col-lg-6">
                <table class="table table-bordered table-condensed" style="width: auto;">
	            <tr>
	                <th bgcolor="#DDDDDD">Phase</th>
	                <th bgcolor="#DDDDDD">AMCSD Code #</th> 
	                <th bgcolor="#DDDDDD">Mass %</th> 
                    </tr>
                </table>
            </div>
            <div class="col-lg-3">
                <div id="csvbutton" >
	            <a href="/csvDownload?key={{ url_text }}" type="button" class="btn btn-xs btn-primary">Download CSV</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row panel panel-default" id="phaselist" style="display: none">
        <div class="panel-body">
            <form novalidate
                  action="/phase"
                  method="POST"
                  enctype="multipart/form-data"
                  onsubmit="checkRightPane();">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <h2><span class="control-label col-xs-3 form-control">Available Phases</span></h2>
                        </div>
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-3">
                            <h2><span class="control-label col-xs-3 form-control">Selected Phases</span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <select name="availablephase" id="leftValues" multiple="multiple" class="form-control" size="10">
                                {% for item in availablephaselist %}
                                <option  value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-3" class="form-control">
                            <input type="button" id="btnLeft" value="&lt;&lt;" />
                            <input type="button" id="btnRight" value="&gt;&gt;" />
                        </div>
                        <div class="col-xs-3">
                            <select name="selectedphase" id="rightValues" multiple="multiple" class="form-control" size="10" required>
                                {% if (selectedphaselist is defined) and selectedphaselist %}
                                {% for item in selectedphaselist %}
                                <option  value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
	        <h4 class="modal-title">Processing...</h4>
            </div>
            <div class="modal-body">
	        <div class="progress progress-striped active">
	            <div class="progress-bar progress-bar-info"  role="progressbar" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

// console.log($("#rightValues").val())

// $("#rightValues").change(function(){
//     console.log($(this).val());
//  });
 
 $('#addrm').click(function(){
     $('#phaselist').toggle();
     $('#result').toggle();
     plotdata.autorm = false;
 });

 $("#btnLeft").click(function () {
     var selectedItem = $("#rightValues option:selected");
     $("#leftValues").append(selectedItem);
     sortSelectOptions("#leftValues");
     //     alert($('#rightValues').val() != null);
 });


 $("#btnRight").click(function () {
     var selectedItem = $("#leftValues option:selected");
     $("#rightValues").append(selectedItem);
     sortSelectOptions("#rightValues")
 });

 function sortSelectOptions(selectElement) {
     var options = $(selectElement + " option");
     options.sort(function(a,b) {
         if (a.text.toUpperCase() > b.text.toUpperCase()) return 1;
         else if (a.text.toUpperCase() < b.text.toUpperCase()) return -1;
         else return 0;
     });

     $(selectElement).empty().append( options );
 }

 function checkRightPane () {
     if ($('#rightValues').has('option').length > 0 ) {
         selectAllOptions();
         $("#myModal").modal();
     } else {
         alert('At least one phase needs to be selected.');
         event.preventDefault();
         return false;  
     }
 }


 function selectAllOptions()
 {
     var selObj = document.getElementById('rightValues');
     if(selObj.options.length == 0) {
     }
     for (var i=0; i<selObj.options.length; i++) {
         selObj.options[i].selected = true;
     }
     var selObj = document.getElementById('leftValues');
     for (var i=0; i<selObj.options.length; i++) {
         selObj.options[i].selected = true;
     }
 }

 function myFunction() {
     $("#result").hide()
     var x = document.getElementById("phaselist");
     if (x.style.display === "none") {
         x.style.display = "block";
     } else {
         x.style.display = "none";
     }
 }

 var angle = {{ angle }}
 var diff = {{ diff }}
 var filename = '{{ samplename }}'
 var ph = {{ selectedphaselist|safe }}
 // console.log(angle)

 var plotdata =
     {
         'autorm': {{ autorm|tojson }},
         'sample': {
             'name': filename,
             'x': angle,
             'y': diff,
             'phases': ph,
         }
     }

 // $("#analyze").click(function() {

 // });
 var trace1 = {
     x: {{ angle }},
     y: {{ diff }},
     mode: 'lines',
     line: {
         color: 'rgb(0,0,0)',
         width: 1
     },
     name: 'Data',
     hoverinfo: 'none'
 };

 var graphdata = [trace1]

 var layout = {
     /* annotations: [
        {
        x: 0.99,
        y: 0.95,
        xref: "paper",
        yref: "paper",
        text: phases,
        showarrow: false,
        bgcolor: 'rgba(160, 236, 133, 0.7)',
        borderpad: 6,
        align: 'right'
        }],*/
     showlegend: true,
     legend: {
         x: 100,
         y: 1
     },
     title: '{{ samplename }}',
     xaxis: {
         showgrid: true,
         zeroline: true,
         showline: true,
         title: '2\u03B8 (deg)',
         gridwidth: 1,
         zerolinecolor: '#969696',
         zerolinewidth: 1,
         linecolor: '#636363',
         linewidth: 1,
         mirror: 'ticks',
         gridcolor: '#bdbdbd'
     },
     yaxis: {
         title: 'Intensity',
         showgrid: true,
         zeroline: true,
         gridwidth: 1,
         showline: true,
         zerolinecolor: '#969696',
         zerolinewidth: 1,
         linecolor: '#636363',
         linewidth: 1,
         mirror: 'ticks',
         gridcolor: '#bdbdbd'
     },
 };

 Plotly.newPlot(xrdPlot, graphdata, layout);
 //Plotly.addTraces(xrdPlot, [trace4, trace5, trace6]);
 // for (var i = 0; i < list.length; i++) {
 //     update.y = minerals[i]
 //     update.name = list[i][0]+' '+list[i][2]+'%'
 //     Plotly.addTraces(xrdPlot, update);
 // }

 $(document).ready(function(){
     $('#analyze').click(function(){
         $('#phaselist').hide()
         $('#addrm').show()
         $("#myModal").modal();
         // console.log($('#rightValues option'));
         var values = $.map($('#rightValues option'), function(ele) {
             return ele.value; 
         });
         // console.log(values);
         plotdata.sample.phases = values;
         axios.post('/compute', {
             data: plotdata
         })
              .then(function (response) {
                  $('#result').show();
                  // console.log(response.data);
                  $("#rightValues").empty();
                  graphs(response.data);
                  $.each(response.data.selected, function (i) {
                      // console.log(response.data.selected[i]);
                      $('#rightValues').append( '<option value="'+response.data.selected[i]+'">'+response.data.selected[i]+'</option>' );
                  });
                  $.each(response.data.ava, function (i) {
                      $('#leftValues').append( '<option value="'+response.data.ava[i]+'">'+response.data.ava[i]+'</option>' );
                  });
              })
              .catch(function (error) {
                  console.log(error);
              });
     });
 });

 var update = {
     x: {{ angle }},
     y: '',
     mode: 'lines',
     line: {
         width: 1
     },
     name: '',
     hoverinfo: 'none',
     visible: 'legendonly'
 };

 var visi = {
     visible: 'true'
 }
 var plotDiv = document.getElementById('xrdPlot');
 
 function graphs(results) {
     $('.table').empty()
     var phases = '';
     for (var i = 0; i < results.phases.length; i++) {
         phases += '<tr>';
         phases += '<td class="col-md-3">'+results.phases[i][0]+'</td>';
         phases += '<td class="col-md-3">'+results.phases[i][1]+'</td>';
         phases += '<td class="col-md-3">'+results.phases[i][2]+'</td>';
         phases += '</tr>';
     }
     $('.table').append(phases);
     $('#result').show()
     $('#myModal').modal('hide')
     update.y = results.background;
     update.name = "Background"
     Plotly.addTraces(xrdPlot, update);
     update.y = results.fit;
     update.name = "Fit"
     Plotly.addTraces(xrdPlot, update);
     update.y = results.difference;
     update.name = "Difference"
     Plotly.addTraces(xrdPlot, update);
     for (var i = 0; i < results.traces.length; i++) {
         update.y = results.traces[i];
         update.name = results.phases[i][0]+' '+results.phases[i][2]+'%'
         Plotly.addTraces(xrdPlot, update);
     }
     Plotly.restyle(plotDiv, visi, [1,2]);
 }

 var data =
     {"sample": {
         "name": "Cumberland_reference",
         "data": [
             { "x": 3, "y": 7808 },
             { "x": 3.05, "y": 7448 },
             { "x": 3.1, "y": 6987 },
             { "x": 3.15, "y": 7732 },
             { "x": 3.2, "y": 6676 },
             { "x": 3.25, "y": 6321 },
             { "x": 3.3, "y": 6709 },
             { "x": 3.35, "y": 5547 }
         ]
     },
      "phases": [
          { "name": "Andesine",  "AMCSD_code": 1052 },
          { "name": "Anhydrite", "AMCSD_code": 5117 },
          { "name": "Augite",    "AMCSD_code": 1 },
          { "name": "Bassanite", "AMCSD_code": 13868 },
          { "name": "Forsterite","AMCSD_code": 2674 },
          { "name": "Hematite",  "AMCSD_code": 143 },
          { "name": "Ilmenite",  "AMCSD_code": 9082 },
          { "name": "Maghemite", "AMCSD_code": 7898 },
          { "name": "Orthopyroxene", "AMCSD_code": 4556 },
          { "name": "Pigeonite", "AMCSD_code": 209 },
          { "name": "Fayalite",  "AMCSD_code": 174 },
          { "name": "Sanidine",  "AMCSD_code": 10740 }
      ]
     }
</script>
{% endblock %}
