{% extends "base.html" %}
{% block content %}
<div class="page-header" id="title" style="display:none;" >
  <h3>Diffraction Diagram</h3>
</div>
<p>
  {% for field, errors in form.errors.iteritems() %}
  <div class="alert alert-danger" role="alert">
    {{ form[field].label }}: {{ ', '.join(errors) }}
  </div>
{% endfor %}
  {% if current_user.is_authenticated and not modeset %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">No mode available</h4>
  <p>You need to create a mode before you can analyze samples.</p>
  <hr>
  <p class="mb-0">Please visit <a href="/mode" class="alert-link">modes</a> to start.</p>
{% else %}
<div class="container" id="staticimg">
  <form method="POST" enctype="multipart/form-data">
    <img id="image" src="/static/img/emptygraph.png" class="img-responsive">
    <input id="uploadFile" type="file" name="file" style="display: none;"/>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
  </form>
</div>
{% endif %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" role="dialog">
  <!-- Modal content-->
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
	<h4 class="modal-title">Processing...</h4>
      </div>
      <div class="modal-body">
	<div class="progress progress-striped active">
	  <div class="progress-bar progress-bar-info"  role="progressbar" style="width: 100%">
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#image').on('click', function() {
        $('#uploadFile').trigger('click');
});
  $("#uploadFile").change(function() {
  $("#myModal").modal()
  $("#staticimg").hide();
//  $("#title").show();
  this.form.submit();
  });
</script>
{% endblock %}
