{% extends "base.html" %}
{% block title %}Modes{% endblock %}
{% block content %}
<div class="container">
    <header class="page-header">
        <div class="branding">
            <h3>Analysis Modes</h3>
        </div>
    </header>
    <main id="app"></main>
</div>

<template id="mode-list">
    <section>
        <div class="actions">
            <router-link class="btn btn-default" :to="{path: '/add-mode'}">
                <span class="glyphicon glyphicon-plus"></span>
                Add mode
            </router-link>
        </div>
        <div class="filters row">
            <div class="form-group col-sm-3">
                <label for="search-element">Mode name</label>
                <input v-model="searchKey" class="form-control" id="search-element" requred/>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Target</th>
                    <th>Inventory</th>
                    <th class="col-sm-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="mode in filteredModes">
                    <td><router-link :to="{name: 'mode', params: {mode_id: mode.id}}">[[ mode.title ]]</router-link></td>
                    <td>[[ mode.qtarget ]]</td>
                    <td>[[ mode.inventory ]]</td>
                    <td>
                        <router-link class="btn btn-warning btn-xs" :to="{name: 'mode-edit', params: {id: mode.id, title: mode.title, target: mode.qtarget, lambda: mode.qlambda, inventory: mode.inventory, fwhma: mode.fwhma, fwhmb: mode.fwhmb}}">Edit</router-link>
                        <router-link class="btn btn-danger btn-xs" :to="{name: 'mode-delete', params: {mode_id: mode.id, mode_title: mode.title}}">Delete</router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</template>


<template id="add-mode" v-cloak>
    <div class="panel panel-default">
        <div class="panel-heading">
            <router-link :to="'/'" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</router-link>
        </div>
        <div class="panel-body">
            <form v-on:submit="createMode" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="add-name">Name</label>
                    <div class="col-lg-4">
                        <input v-model="form.title" class="form-control" placeholder="Mode name" type="text" id="add-name" data-placement="top" data-toggle="tooltip" title="Choose the name of your mode." autofocus required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="add-lambda">Lambda</label>
                    <div class="col-lg-4">
                        <input v-model="form.lambda" class="form-control" id="add-lambda" data-placement="top" data-toggle="tooltip" title="Enter 0 for automatic assignment based on target or a value in Angstrom, such as 1.79027." required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="add-target">Target</label>
                    <div class="col-lg-4">
                        <select class="form-control" v-model="form.target" name="target">
                            <option v-for="option in options.target" v-bind:value="option.value">[[ option.text ]]</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="add-price">FWHMA</span></label>
                    <div class="col-lg-4">
                        <input v-model="form.fwhma" data-placement="top" data-toggle="tooltip" title="Peak broadening curve slope A in FWHM = A.2&#x03B8+B." type="text" class="form-control" id="fwhma" name="fwhma" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="add-price">FWHMB</span></label>
                    <div class="col-lg-4">
                        <input v-model="form.fwhmb" data-placement="top" data-toggle="tooltip" title="Peak broadening curve offset B in FWHM = A.2&#x03B8+B." type="text" class="form-control" id="fwhmb" name="fwhmb" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="add-price">Inventory</span></label>
                    <div class="col-lg-4">
                        <select class="form-control" v-model="form.inventory" name="inventory">
                            <option v-for="option in options.inventory" v-bind:value="option.value">[[ option.text ]]</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <router-link :to="'/'" class="btn btn-default">Cancel</router-link>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<template id="mode">
    <section>
        <h2>[[ mode.title ]]</h2>
        <b>Target: </b>
        <div>[[ mode.qtarget ]]</div>
        <b>Inventory:</b>
        <div>[[ mode.inventory ]]
            <br/>
            <router-link :to="'/'">Back to mode list</router-link>
    </section>
</template>

<template id="mode-edit" v-cloak>
    <section>
        <h4>Edit mode</h4>
        <div class="panel panel-default">
            <div class="panel-heading">
                <router-link :to="'/'" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</router-link>
            </div>
            <div class="panel-body">
                <form v-on:submit="updateMode" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="edit-name">Name</label>
                        <div class="col-lg-4">
                            <input class="form-control" id="edit-name" v-model="form.title" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="">Lambda</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" v-model="form.lambda" required />
                            </div>
                        </div>
                        <div class="form-group">
		            <label class="col-lg-2 control-label" for="">Target</label>
                            <div class="col-lg-4">
                                <select id="class" class="form-control" name="target" v-model="form.target">
                                    <option v-for="option in options.target" v-bind:value="option.value">[[ option.text ]]</option>
                                </select>
                            </div>                    
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="">FWHMA</label>
                            <div class="col-lg-4">
                                <input v-model="form.fwhma" type="text" class="form-control" name="fwhma" required />
                            </div>
                        </div>
                        <div class="form-group">
		            <label class="col-lg-2 control-label" for="">FWHMB</label>
                            <div class="col-lg-4">
                                <input v-model="form.fwhmb" type="text" class="form-control" name="fwhmb" required />
                            </div>
                        </div>
                        <div class="form-group">
		            <label class="col-lg-2 control-label" for="">Inventory</label>
                            <div class="col-lg-4">
                                <select id="class" class="form-control" v-model="form.inventory">
                                    <option v-for="option in options.inventory" v-bind:value="option.value">[[ option.text ]]</option>
                                </select>
                            </div>                    
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <router-link :to="'/'" class="btn btn-default">Cancel</router-link>
                    </form>
                </div>
            </div>
    </section>
</template>

<template id="mode-delete">
    <section>
        <h2>Delete mode [[ mode.title ]]</h2>
        <form v-on:submit="deleteMode">
            <p>The action cannot be undone.</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <router-link :to="'/'" class="btn btn-default">Cancel</router-link>
        </form>
    </section>
</template>

<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="{{ url_for('static', filename='js/mode.js') }}"></script>
{% endblock %}
