  <!DOCTYPE html>
  <html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("button").click(function(){
      $.ajax({
        type: 'POST',
        url: '/odr',
        data: JSON.stringify(data),
        success: function(data) {
          var w = window.open('about:blank', 'windowname');
          w.document.write(data);
          w.document.close();
        },
        contentType: "application/json",
        dataType: 'html'
      });
    });
  });

var data =
    {"sample": {
      "name": "Cumberland_reference",
      "data": [
        { "x": 3, "y": 7808 },
        { "x": 3.05, "y": 7448 },
        { "x": 3.1, "y": 6987 },
        { "x": 3.15, "y": 7732 },
        { "x": 3.2, "y": 6676 },
        { "x": 3.25, "y": 6321 },
        { "x": 3.3, "y": 6709 },
        { "x": 3.35, "y": 5547 },
        { "x": 3.4, "y": 5829 },
        { "x": 3.45, "y": 5663 },
        { "x": 3.5, "y": 5006 },
        { "x": 3.55, "y": 5712 },
        { "x": 3.6, "y": 4899 },
        { "x": 3.65, "y": 5078 },
        { "x": 3.7, "y": 4912 },
        { "x": 3.75, "y": 4515 },
        { "x": 3.8, "y": 5052 },
        { "x": 3.85, "y": 3906 },
        { "x": 3.9, "y": 4724 },
        { "x": 3.95, "y": 4239 },
        { "x": 4, "y": 4504 },
        { "x": 4.05, "y": 4387 },
        { "x": 4.1, "y": 3497 },
        { "x": 4.15, "y": 4226 },
        { "x": 4.2, "y": 3520 },
        { "x": 4.25, "y": 3965 },
        { "x": 4.3, "y": 3846 },
        { "x": 4.35, "y": 3550 },
        { "x": 4.4, "y": 3696 },
        { "x": 4.45, "y": 3381 },
        { "x": 4.5, "y": 3492 },
        { "x": 4.55, "y": 3626 },
        { "x": 4.6, "y": 3196 },
        { "x": 4.65, "y": 3603 },
        { "x": 4.7, "y": 3289 },
        { "x": 4.75, "y": 3222 },
        { "x": 4.8, "y": 3309 },
        { "x": 4.85, "y": 3301 },
        { "x": 4.9, "y": 3201 },
        { "x": 4.95, "y": 3352 },
        { "x": 5, "y": 2906 },
        { "x": 5.05, "y": 3129 },
        { "x": 5.1, "y": 3064 },
        { "x": 5.15, "y": 3085 },
        { "x": 5.2, "y": 3025 },
        { "x": 5.25, "y": 2943 },
        { "x": 5.3, "y": 2898 },
        { "x": 5.35, "y": 2838 },
        { "x": 5.4, "y": 2767 },
        { "x": 5.45, "y": 2877 },
        { "x": 5.5, "y": 2676 },
        { "x": 5.55, "y": 2735 },
        { "x": 5.6, "y": 2917 },
        { "x": 5.65, "y": 2714 },
        { "x": 5.7, "y": 2887 },
        { "x": 5.75, "y": 3017 },
        { "x": 5.8, "y": 2665 },
        { "x": 5.85, "y": 2892 },
        { "x": 5.9, "y": 2709 },
        { "x": 5.95, "y": 2681 },
        { "x": 6, "y": 2654 },
        { "x": 6.05, "y": 2734 },
        { "x": 6.1, "y": 2768 },
        { "x": 6.15, "y": 2747 },
        { "x": 6.2, "y": 2727 },
        { "x": 6.25, "y": 2791 },
        { "x": 6.3, "y": 2869 },
        { "x": 6.35, "y": 2773 },
        { "x": 6.4, "y": 2842 },
        { "x": 6.45, "y": 2987 },
        { "x": 6.5, "y": 2830 },
        { "x": 6.55, "y": 2950 },
        { "x": 6.6, "y": 2850 },
        { "x": 6.65, "y": 2934 },
        { "x": 6.7, "y": 2746 },
        { "x": 6.75, "y": 2916 },
        { "x": 6.8, "y": 2965 },
        { "x": 6.85, "y": 2909 },
        { "x": 6.9, "y": 2953 },
        { "x": 6.95, "y": 2938 },
        { "x": 7, "y": 3234 },
        { "x": 7.05, "y": 3038 },
        { "x": 7.1, "y": 2854 },
        { "x": 7.15, "y": 3151 },
        { "x": 7.2, "y": 2989 },
        { "x": 7.25, "y": 3072 },
        { "x": 7.3, "y": 2988 },
        { "x": 7.35, "y": 2966 },
        { "x": 7.4, "y": 2881 },
        { "x": 7.45, "y": 3185 },
        { "x": 7.5, "y": 2937 },
        { "x": 7.55, "y": 2764 },
        { "x": 7.6, "y": 2856 },
        { "x": 7.65, "y": 2827 },
        { "x": 7.7, "y": 2912 },
        { "x": 7.75, "y": 2847 },
        { "x": 7.8, "y": 2932 },
        { "x": 7.85, "y": 2848 },
        { "x": 7.9, "y": 2619 },
        { "x": 7.95, "y": 2775 },
        { "x": 8, "y": 2719 },
        { "x": 8.05, "y": 2534 },
        { "x": 8.1, "y": 2474 },
        { "x": 8.15, "y": 2688 },
        { "x": 8.2, "y": 2575 },
        { "x": 8.25, "y": 2561 },
        { "x": 8.3, "y": 2405 },
        { "x": 8.35, "y": 2294 },
        { "x": 8.4, "y": 2341 },
        { "x": 8.45, "y": 2283 },
        { "x": 8.5, "y": 2363 },
        { "x": 8.55, "y": 2403 },
        { "x": 8.6, "y": 2254 },
        { "x": 8.65, "y": 2307 },
        { "x": 8.7, "y": 2266 },
        { "x": 8.75, "y": 2221 },
        { "x": 8.8, "y": 2269 },
        { "x": 8.85, "y": 2193 },
        { "x": 8.9, "y": 2204 },
        { "x": 8.95, "y": 2308 },
        { "x": 9, "y": 2125 },
        { "x": 9.05, "y": 2110 },
        { "x": 9.1, "y": 2174 },
        { "x": 9.15, "y": 2071 },
        { "x": 9.2, "y": 1897 },
        { "x": 9.25, "y": 1955 },
        { "x": 9.3, "y": 2013 },
        { "x": 9.35, "y": 2038 },
        { "x": 9.4, "y": 1899 },
        { "x": 9.45, "y": 1885 },
        { "x": 9.5, "y": 1950 },
        { "x": 9.55, "y": 2017 },
        { "x": 9.6, "y": 1963 },
        { "x": 9.65, "y": 1991 },
        { "x": 9.7, "y": 1914 },
        { "x": 9.75, "y": 1940 },
        { "x": 9.8, "y": 1879 },
        { "x": 9.85, "y": 1992 },
        { "x": 9.9, "y": 1711 },
        { "x": 9.95, "y": 1918 },
        { "x": 10, "y": 1951 },
        { "x": 10.05, "y": 1755 },
        { "x": 10.1, "y": 1947 },
        { "x": 10.15, "y": 1823 },
        { "x": 10.2, "y": 1748 },
        { "x": 10.25, "y": 1772 },
        { "x": 10.3, "y": 1700 },
        { "x": 10.35, "y": 1842 },
        { "x": 10.4, "y": 1711 },
        { "x": 10.45, "y": 1698 },
        { "x": 10.5, "y": 1618 },
        { "x": 10.55, "y": 1726 },
        { "x": 10.6, "y": 1643 },
        { "x": 10.65, "y": 1560 },
        { "x": 10.7, "y": 1585 },
        { "x": 10.75, "y": 1592 },
        { "x": 10.8, "y": 1679 },
        { "x": 10.85, "y": 1575 },
        { "x": 10.9, "y": 1467 },
        { "x": 10.95, "y": 1532 },
        { "x": 11, "y": 1516 },
        { "x": 11.05, "y": 1584 },
        { "x": 11.1, "y": 1402 },
        { "x": 11.15, "y": 1433 },
        { "x": 11.2, "y": 1443 },
        { "x": 11.25, "y": 1402 },
        { "x": 11.3, "y": 1471 },
        { "x": 11.35, "y": 1302 },
        { "x": 11.4, "y": 1401 },
        { "x": 11.45, "y": 1353 },
        { "x": 11.5, "y": 1290 },
        { "x": 11.55, "y": 1311 },
        { "x": 11.6, "y": 1360 },
        { "x": 11.65, "y": 1315 },
        { "x": 11.7, "y": 1276 },
        { "x": 11.75, "y": 1291 },
        { "x": 11.8, "y": 1234 },
        { "x": 11.85, "y": 1069 },
        { "x": 11.9, "y": 1229 },
        { "x": 11.95, "y": 1255 },
        { "x": 12, "y": 1208 },
        { "x": 12.05, "y": 1252 },
        { "x": 12.1, "y": 1229 },
        { "x": 12.15, "y": 1209 },
        { "x": 12.2, "y": 1164 },
        { "x": 12.25, "y": 1183 },
        { "x": 12.3, "y": 1276 },
        { "x": 12.35, "y": 1212 },
        { "x": 12.4, "y": 1190 },
        { "x": 12.45, "y": 1305 },
        { "x": 12.5, "y": 1232 },
        { "x": 12.55, "y": 1214 },
        { "x": 12.6, "y": 1324 },
        { "x": 12.65, "y": 1265 },
        { "x": 12.7, "y": 1330 },
        { "x": 12.75, "y": 1275 },
        { "x": 12.8, "y": 1156 },
        { "x": 12.85, "y": 1214 },
        { "x": 12.9, "y": 1209 },
        { "x": 12.95, "y": 1161 },
        { "x": 13, "y": 1149 },
        { "x": 13.05, "y": 1240 },
        { "x": 13.1, "y": 1164 },
        { "x": 13.15, "y": 1205 },
        { "x": 13.2, "y": 1217 },
        { "x": 13.25, "y": 1175 },
        { "x": 13.3, "y": 1320 },
        { "x": 13.35, "y": 1270 },
        { "x": 13.4, "y": 1202 },
        { "x": 13.45, "y": 1237 },
        { "x": 13.5, "y": 1235 },
        { "x": 13.55, "y": 1234 },
        { "x": 13.6, "y": 1274 },
        { "x": 13.65, "y": 1363 },
        { "x": 13.7, "y": 1342 },
        { "x": 13.75, "y": 1399 },
        { "x": 13.8, "y": 1342 },
        { "x": 13.85, "y": 1420 },
        { "x": 13.9, "y": 1298 },
        { "x": 13.95, "y": 1287 },
        { "x": 14, "y": 1220 },
        { "x": 14.05, "y": 1293 },
        { "x": 14.1, "y": 1209 },
        { "x": 14.15, "y": 1262 },
        { "x": 14.2, "y": 1163 },
        { "x": 14.25, "y": 1146 },
        { "x": 14.3, "y": 1231 },
        { "x": 14.35, "y": 1207 },
        { "x": 14.4, "y": 1206 },
        { "x": 14.45, "y": 1176 },
        { "x": 14.5, "y": 1214 },
        { "x": 14.55, "y": 1246 },
        { "x": 14.6, "y": 1144 },
        { "x": 14.65, "y": 1136 },
        { "x": 14.7, "y": 1235 },
        { "x": 14.75, "y": 1161 },
        { "x": 14.8, "y": 1158 },
        { "x": 14.85, "y": 1095 },
        { "x": 14.9, "y": 1046 },
        { "x": 14.95, "y": 1151 },
        { "x": 15, "y": 1268 },
        { "x": 15.05, "y": 1177 },
        { "x": 15.1, "y": 1108 },
        { "x": 15.15, "y": 1195 },
        { "x": 15.2, "y": 1205 },
        { "x": 15.25, "y": 1165 },
        { "x": 15.3, "y": 1195 },
        { "x": 15.35, "y": 1182 },
        { "x": 15.4, "y": 1192 },
        { "x": 15.45, "y": 1156 },
        { "x": 15.5, "y": 1216 },
        { "x": 15.55, "y": 1234 },
        { "x": 15.6, "y": 1272 },
        { "x": 15.65, "y": 1293 },
        { "x": 15.7, "y": 1296 },
        { "x": 15.75, "y": 1482 },
        { "x": 15.8, "y": 1582 },
        { "x": 15.85, "y": 1832 },
        { "x": 15.9, "y": 1903 },
        { "x": 15.95, "y": 1997 },
        { "x": 16, "y": 1969 },
        { "x": 16.05, "y": 1877 },
        { "x": 16.1, "y": 1655 },
        { "x": 16.15, "y": 1618 },
        { "x": 16.2, "y": 1478 },
        { "x": 16.25, "y": 1364 },
        { "x": 16.3, "y": 1332 },
        { "x": 16.35, "y": 1282 },
        { "x": 16.4, "y": 1341 },
        { "x": 16.45, "y": 1253 },
        { "x": 16.5, "y": 1264 },
        { "x": 16.55, "y": 1177 },
        { "x": 16.6, "y": 1268 },
        { "x": 16.65, "y": 1190 },
        { "x": 16.7, "y": 1140 },
        { "x": 16.75, "y": 1291 },
        { "x": 16.8, "y": 1359 },
        { "x": 16.85, "y": 1465 },
        { "x": 16.9, "y": 1528 },
        { "x": 16.95, "y": 1625 },
        { "x": 17, "y": 1687 },
        { "x": 17.05, "y": 1716 },
        { "x": 17.1, "y": 1606 },
        { "x": 17.15, "y": 1657 },
        { "x": 17.2, "y": 1422 },
        { "x": 17.25, "y": 1414 },
        { "x": 17.3, "y": 1340 },
        { "x": 17.35, "y": 1333 },
        { "x": 17.4, "y": 1381 },
        { "x": 17.45, "y": 1442 },
        { "x": 17.5, "y": 1445 },
        { "x": 17.55, "y": 1537 },
        { "x": 17.6, "y": 1590 },
        { "x": 17.65, "y": 1391 },
        { "x": 17.7, "y": 1437 },
        { "x": 17.75, "y": 1432 },
        { "x": 17.8, "y": 1418 },
        { "x": 17.85, "y": 1369 },
        { "x": 17.9, "y": 1323 },
        { "x": 17.95, "y": 1390 },
        { "x": 18, "y": 1425 },
        { "x": 18.05, "y": 1584 },
        { "x": 18.1, "y": 1546 },
        { "x": 18.15, "y": 1679 },
        { "x": 18.2, "y": 1634 },
        { "x": 18.25, "y": 1633 },
        { "x": 18.3, "y": 1601 },
        { "x": 18.35, "y": 1588 },
        { "x": 18.4, "y": 1576 },
        { "x": 18.45, "y": 1609 },
        { "x": 18.5, "y": 1536 },
        { "x": 18.55, "y": 1554 },
        { "x": 18.6, "y": 1586 },
        { "x": 18.65, "y": 1655 },
        { "x": 18.7, "y": 1757 },
        { "x": 18.75, "y": 1760 },
        { "x": 18.8, "y": 1574 },
        { "x": 18.85, "y": 1745 },
        { "x": 18.9, "y": 1671 },
        { "x": 18.95, "y": 1654 },
        { "x": 19, "y": 1628 },
        { "x": 19.05, "y": 1631 },
        { "x": 19.1, "y": 1621 },
        { "x": 19.15, "y": 1650 },
        { "x": 19.2, "y": 1612 },
        { "x": 19.25, "y": 1669 },
        { "x": 19.3, "y": 1712 },
        { "x": 19.35, "y": 1598 },
        { "x": 19.4, "y": 1633 },
        { "x": 19.45, "y": 1539 },
        { "x": 19.5, "y": 1684 },
        { "x": 19.55, "y": 1654 },
        { "x": 19.6, "y": 1581 },
        { "x": 19.65, "y": 1597 },
        { "x": 19.7, "y": 1590 },
        { "x": 19.75, "y": 1590 },
        { "x": 19.8, "y": 1454 },
        { "x": 19.85, "y": 1572 },
        { "x": 19.9, "y": 1502 },
        { "x": 19.95, "y": 1547 },
        { "x": 20, "y": 1556 },
        { "x": 20.05, "y": 1536 },
        { "x": 20.1, "y": 1560 },
        { "x": 20.15, "y": 1516 },
        { "x": 20.2, "y": 1514 },
        { "x": 20.25, "y": 1508 },
        { "x": 20.3, "y": 1512 },
        { "x": 20.35, "y": 1539 },
        { "x": 20.4, "y": 1576 },
        { "x": 20.45, "y": 1523 },
        { "x": 20.5, "y": 1541 },
        { "x": 20.55, "y": 1478 },
        { "x": 20.6, "y": 1541 },
        { "x": 20.65, "y": 1491 },
        { "x": 20.7, "y": 1478 },
        { "x": 20.75, "y": 1525 },
        { "x": 20.8, "y": 1453 },
        { "x": 20.85, "y": 1523 },
        { "x": 20.9, "y": 1490 },
        { "x": 20.95, "y": 1551 },
        { "x": 21, "y": 1517 },
        { "x": 21.05, "y": 1551 },
        { "x": 21.1, "y": 1657 },
        { "x": 21.15, "y": 1756 },
        { "x": 21.2, "y": 1904 },
        { "x": 21.25, "y": 2036 },
        { "x": 21.3, "y": 1995 },
        { "x": 21.35, "y": 1871 },
        { "x": 21.4, "y": 1788 },
        { "x": 21.45, "y": 1711 },
        { "x": 21.5, "y": 1549 },
        { "x": 21.55, "y": 1504 },
        { "x": 21.6, "y": 1545 },
        { "x": 21.65, "y": 1545 },
        { "x": 21.7, "y": 1459 },
        { "x": 21.75, "y": 1511 },
        { "x": 21.8, "y": 1569 },
        { "x": 21.85, "y": 1556 },
        { "x": 21.9, "y": 1687 },
        { "x": 21.95, "y": 1681 },
        { "x": 22, "y": 1722 },
        { "x": 22.05, "y": 1698 },
        { "x": 22.1, "y": 1837 },
        { "x": 22.15, "y": 1769 },
        { "x": 22.2, "y": 1881 },
        { "x": 22.25, "y": 1960 },
        { "x": 22.3, "y": 2170 },
        { "x": 22.35, "y": 2306 },
        { "x": 22.4, "y": 2454 },
        { "x": 22.45, "y": 2586 },
        { "x": 22.5, "y": 2580 },
        { "x": 22.55, "y": 2427 },
        { "x": 22.6, "y": 2206 },
        { "x": 22.65, "y": 2312 },
        { "x": 22.7, "y": 2052 },
        { "x": 22.75, "y": 2080 },
        { "x": 22.8, "y": 2058 },
        { "x": 22.85, "y": 1960 },
        { "x": 22.9, "y": 2057 },
        { "x": 22.95, "y": 2083 },
        { "x": 23, "y": 2123 },
        { "x": 23.05, "y": 2188 },
        { "x": 23.1, "y": 2046 },
        { "x": 23.15, "y": 2084 },
        { "x": 23.2, "y": 2033 },
        { "x": 23.25, "y": 1984 },
        { "x": 23.3, "y": 2065 },
        { "x": 23.35, "y": 1950 },
        { "x": 23.4, "y": 1892 },
        { "x": 23.45, "y": 1943 },
        { "x": 23.5, "y": 1872 },
        { "x": 23.55, "y": 1884 },
        { "x": 23.6, "y": 1804 },
        { "x": 23.65, "y": 1863 },
        { "x": 23.7, "y": 1751 },
        { "x": 23.75, "y": 1876 },
        { "x": 23.8, "y": 1900 },
        { "x": 23.85, "y": 1856 },
        { "x": 23.9, "y": 1844 },
        { "x": 23.95, "y": 1768 },
        { "x": 24, "y": 1814 },
        { "x": 24.05, "y": 1771 },
        { "x": 24.1, "y": 1807 },
        { "x": 24.15, "y": 1827 },
        { "x": 24.2, "y": 1788 },
        { "x": 24.25, "y": 1711 },
        { "x": 24.3, "y": 1780 },
        { "x": 24.35, "y": 1765 },
        { "x": 24.4, "y": 1821 },
        { "x": 24.45, "y": 1871 },
        { "x": 24.5, "y": 1857 },
        { "x": 24.55, "y": 1818 },
        { "x": 24.6, "y": 1861 },
        { "x": 24.65, "y": 1841 },
        { "x": 24.7, "y": 1833 },
        { "x": 24.75, "y": 1855 },
        { "x": 24.8, "y": 1789 },
        { "x": 24.85, "y": 1843 },
        { "x": 24.9, "y": 1826 },
        { "x": 24.95, "y": 1864 },
        { "x": 25, "y": 1864 },
        { "x": 25.05, "y": 1918 },
        { "x": 25.1, "y": 1926 },
        { "x": 25.15, "y": 2029 },
        { "x": 25.2, "y": 2064 },
        { "x": 25.25, "y": 2279 },
        { "x": 25.3, "y": 2619 },
        { "x": 25.35, "y": 3346 },
        { "x": 25.4, "y": 4252 },
        { "x": 25.45, "y": 5140 },
        { "x": 25.5, "y": 5779 },
        { "x": 25.55, "y": 5765 },
        { "x": 25.6, "y": 5125 },
        { "x": 25.65, "y": 4168 },
        { "x": 25.7, "y": 3343 },
        { "x": 25.75, "y": 2525 },
        { "x": 25.8, "y": 2174 },
        { "x": 25.85, "y": 1960 },
        { "x": 25.9, "y": 1825 },
        { "x": 25.95, "y": 1869 },
        { "x": 26, "y": 1804 },
        { "x": 26.05, "y": 1819 },
        { "x": 26.1, "y": 1803 },
        { "x": 26.15, "y": 1844 },
        { "x": 26.2, "y": 1768 },
        { "x": 26.25, "y": 1759 },
        { "x": 26.3, "y": 1907 },
        { "x": 26.35, "y": 1994 },
        { "x": 26.4, "y": 2004 },
        { "x": 26.45, "y": 2226 },
        { "x": 26.5, "y": 2341 },
        { "x": 26.55, "y": 2565 },
        { "x": 26.6, "y": 2422 },
        { "x": 26.65, "y": 2349 },
        { "x": 26.7, "y": 2235 },
        { "x": 26.75, "y": 1943 },
        { "x": 26.8, "y": 1884 },
        { "x": 26.85, "y": 1751 },
        { "x": 26.9, "y": 1720 },
        { "x": 26.95, "y": 1814 },
        { "x": 27, "y": 1723 },
        { "x": 27.05, "y": 1749 },
        { "x": 27.1, "y": 1743 },
        { "x": 27.15, "y": 1838 },
        { "x": 27.2, "y": 2018 },
        { "x": 27.25, "y": 2208 },
        { "x": 27.3, "y": 2489 },
        { "x": 27.35, "y": 2821 },
        { "x": 27.4, "y": 3288 },
        { "x": 27.45, "y": 3694 },
        { "x": 27.5, "y": 4127 },
        { "x": 27.55, "y": 4219 },
        { "x": 27.6, "y": 3966 },
        { "x": 27.65, "y": 3521 },
        { "x": 27.7, "y": 3048 },
        { "x": 27.75, "y": 2442 },
        { "x": 27.8, "y": 2234 },
        { "x": 27.85, "y": 2049 },
        { "x": 27.9, "y": 2027 },
        { "x": 27.95, "y": 1886 },
        { "x": 28, "y": 1977 },
        { "x": 28.05, "y": 1979 },
        { "x": 28.1, "y": 2059 },
        { "x": 28.15, "y": 2176 },
        { "x": 28.2, "y": 2304 },
        { "x": 28.25, "y": 2502 },
        { "x": 28.3, "y": 2729 },
        { "x": 28.35, "y": 2845 },
        { "x": 28.4, "y": 2893 },
        { "x": 28.45, "y": 2766 },
        { "x": 28.5, "y": 2594 },
        { "x": 28.55, "y": 2408 },
        { "x": 28.6, "y": 2206 },
        { "x": 28.65, "y": 2041 },
        { "x": 28.7, "y": 1813 },
        { "x": 28.75, "y": 1836 },
        { "x": 28.8, "y": 1757 },
        { "x": 28.85, "y": 1744 },
        { "x": 28.9, "y": 1748 },
        { "x": 28.95, "y": 1805 },
        { "x": 29, "y": 1816 },
        { "x": 29.05, "y": 1815 },
        { "x": 29.1, "y": 1901 },
        { "x": 29.15, "y": 1994 },
        { "x": 29.2, "y": 2006 },
        { "x": 29.25, "y": 2054 },
        { "x": 29.3, "y": 2076 },
        { "x": 29.35, "y": 2137 },
        { "x": 29.4, "y": 2217 },
        { "x": 29.45, "y": 2273 },
        { "x": 29.5, "y": 2315 },
        { "x": 29.55, "y": 2424 },
        { "x": 29.6, "y": 2499 },
        { "x": 29.65, "y": 2637 },
        { "x": 29.7, "y": 2550 },
        { "x": 29.75, "y": 2524 },
        { "x": 29.8, "y": 2605 },
        { "x": 29.85, "y": 2495 },
        { "x": 29.9, "y": 2341 },
        { "x": 29.95, "y": 2343 },
        { "x": 30, "y": 2337 },
        { "x": 30.05, "y": 2311 },
        { "x": 30.1, "y": 2281 },
        { "x": 30.15, "y": 2125 },
        { "x": 30.2, "y": 2028 },
        { "x": 30.25, "y": 1985 },
        { "x": 30.3, "y": 1922 },
        { "x": 30.35, "y": 1937 },
        { "x": 30.4, "y": 1860 },
        { "x": 30.45, "y": 1874 },
        { "x": 30.5, "y": 1926 },
        { "x": 30.55, "y": 2041 },
        { "x": 30.6, "y": 2271 },
        { "x": 30.65, "y": 2479 },
        { "x": 30.7, "y": 2525 },
        { "x": 30.75, "y": 2530 },
        { "x": 30.8, "y": 2545 },
        { "x": 30.85, "y": 2422 },
        { "x": 30.9, "y": 2407 },
        { "x": 30.95, "y": 2375 },
        { "x": 31, "y": 2397 },
        { "x": 31.05, "y": 2385 },
        { "x": 31.1, "y": 2372 },
        { "x": 31.15, "y": 2429 },
        { "x": 31.2, "y": 2439 },
        { "x": 31.25, "y": 2347 },
        { "x": 31.3, "y": 2267 },
        { "x": 31.35, "y": 2186 },
        { "x": 31.4, "y": 2124 },
        { "x": 31.45, "y": 2035 },
        { "x": 31.5, "y": 2021 },
        { "x": 31.55, "y": 1983 },
        { "x": 31.6, "y": 2085 },
        { "x": 31.65, "y": 1934 },
        { "x": 31.7, "y": 2173 },
        { "x": 31.75, "y": 2357 },
        { "x": 31.8, "y": 2460 },
        { "x": 31.85, "y": 2649 },
        { "x": 31.9, "y": 3030 },
        { "x": 31.95, "y": 3490 },
        { "x": 32, "y": 4013 },
        { "x": 32.05, "y": 4714 },
        { "x": 32.1, "y": 5653 },
        { "x": 32.15, "y": 6930 },
        { "x": 32.2, "y": 8177 },
        { "x": 32.25, "y": 9232 },
        { "x": 32.3, "y": 9909 },
        { "x": 32.35, "y": 10000 },
        { "x": 32.4, "y": 9658 },
        { "x": 32.45, "y": 9280 },
        { "x": 32.5, "y": 8603 },
        { "x": 32.55, "y": 7896 },
        { "x": 32.6, "y": 7220 },
        { "x": 32.65, "y": 6332 },
        { "x": 32.7, "y": 5349 },
        { "x": 32.75, "y": 4287 },
        { "x": 32.8, "y": 3480 },
        { "x": 32.85, "y": 2944 },
        { "x": 32.9, "y": 2674 },
        { "x": 32.95, "y": 2614 },
        { "x": 33, "y": 2690 },
        { "x": 33.05, "y": 2799 },
        { "x": 33.1, "y": 2723 },
        { "x": 33.15, "y": 2713 },
        { "x": 33.2, "y": 2468 },
        { "x": 33.25, "y": 2114 },
        { "x": 33.3, "y": 1940 },
        { "x": 33.35, "y": 1781 },
        { "x": 33.4, "y": 1505 },
        { "x": 33.45, "y": 1551 },
        { "x": 33.5, "y": 1492 },
        { "x": 33.55, "y": 1452 },
        { "x": 33.6, "y": 1447 },
        { "x": 33.65, "y": 1557 },
        { "x": 33.7, "y": 1514 },
        { "x": 33.75, "y": 1507 },
        { "x": 33.8, "y": 1614 },
        { "x": 33.85, "y": 1559 },
        { "x": 33.9, "y": 1518 },
        { "x": 33.95, "y": 1555 },
        { "x": 34, "y": 1606 },
        { "x": 34.05, "y": 1529 },
        { "x": 34.1, "y": 1557 },
        { "x": 34.15, "y": 1660 },
        { "x": 34.2, "y": 1778 },
        { "x": 34.25, "y": 2006 },
        { "x": 34.3, "y": 2471 },
        { "x": 34.35, "y": 2931 },
        { "x": 34.4, "y": 3500 },
        { "x": 34.45, "y": 3784 },
        { "x": 34.5, "y": 4187 },
        { "x": 34.55, "y": 4388 },
        { "x": 34.6, "y": 4330 },
        { "x": 34.65, "y": 4247 },
        { "x": 34.7, "y": 4078 },
        { "x": 34.75, "y": 3814 },
        { "x": 34.8, "y": 3466 },
        { "x": 34.85, "y": 3153 },
        { "x": 34.9, "y": 3085 },
        { "x": 34.95, "y": 3122 },
        { "x": 35, "y": 3406 },
        { "x": 35.05, "y": 3602 },
        { "x": 35.1, "y": 3980 },
        { "x": 35.15, "y": 3965 },
        { "x": 35.2, "y": 3938 },
        { "x": 35.25, "y": 3676 },
        { "x": 35.3, "y": 3403 },
        { "x": 35.35, "y": 3226 },
        { "x": 35.4, "y": 2950 },
        { "x": 35.45, "y": 2767 },
        { "x": 35.5, "y": 2734 },
        { "x": 35.55, "y": 2593 },
        { "x": 35.6, "y": 2773 },
        { "x": 35.65, "y": 2967 },
        { "x": 35.7, "y": 3014 },
        { "x": 35.75, "y": 3075 },
        { "x": 35.8, "y": 3306 },
        { "x": 35.85, "y": 3404 },
        { "x": 35.9, "y": 3636 },
        { "x": 35.95, "y": 3571 },
        { "x": 36, "y": 3343 },
        { "x": 36.05, "y": 2980 },
        { "x": 36.1, "y": 2685 },
        { "x": 36.15, "y": 2209 },
        { "x": 36.2, "y": 1912 },
        { "x": 36.25, "y": 1742 },
        { "x": 36.3, "y": 1611 },
        { "x": 36.35, "y": 1727 },
        { "x": 36.4, "y": 1656 },
        { "x": 36.45, "y": 1792 },
        { "x": 36.5, "y": 1886 },
        { "x": 36.55, "y": 2076 },
        { "x": 36.6, "y": 2115 },
        { "x": 36.65, "y": 2106 },
        { "x": 36.7, "y": 2172 },
        { "x": 36.75, "y": 1992 },
        { "x": 36.8, "y": 1933 },
        { "x": 36.85, "y": 1722 },
        { "x": 36.9, "y": 1672 },
        { "x": 36.95, "y": 1703 },
        { "x": 37, "y": 1756 },
        { "x": 37.05, "y": 1858 },
        { "x": 37.1, "y": 1982 },
        { "x": 37.15, "y": 2091 },
        { "x": 37.2, "y": 2074 },
        { "x": 37.25, "y": 2120 },
        { "x": 37.3, "y": 2007 },
        { "x": 37.35, "y": 1839 },
        { "x": 37.4, "y": 1718 },
        { "x": 37.45, "y": 1691 },
        { "x": 37.5, "y": 1630 },
        { "x": 37.55, "y": 1664 },
        { "x": 37.6, "y": 1574 },
        { "x": 37.65, "y": 1578 },
        { "x": 37.7, "y": 1553 },
        { "x": 37.75, "y": 1420 },
        { "x": 37.8, "y": 1398 },
        { "x": 37.85, "y": 1415 },
        { "x": 37.9, "y": 1414 },
        { "x": 37.95, "y": 1371 },
        { "x": 38, "y": 1371 },
        { "x": 38.05, "y": 1431 },
        { "x": 38.1, "y": 1490 },
        { "x": 38.15, "y": 1467 },
        { "x": 38.2, "y": 1555 },
        { "x": 38.25, "y": 1513 },
        { "x": 38.3, "y": 1573 },
        { "x": 38.35, "y": 1466 },
        { "x": 38.4, "y": 1510 },
        { "x": 38.45, "y": 1536 },
        { "x": 38.5, "y": 1513 },
        { "x": 38.55, "y": 1618 },
        { "x": 38.6, "y": 1587 },
        { "x": 38.65, "y": 1447 },
        { "x": 38.7, "y": 1433 },
        { "x": 38.75, "y": 1356 },
        { "x": 38.8, "y": 1261 },
        { "x": 38.85, "y": 1253 },
        { "x": 38.9, "y": 1195 },
        { "x": 38.95, "y": 1208 },
        { "x": 39, "y": 1250 },
        { "x": 39.05, "y": 1233 },
        { "x": 39.1, "y": 1235 },
        { "x": 39.15, "y": 1350 },
        { "x": 39.2, "y": 1361 },
        { "x": 39.25, "y": 1446 },
        { "x": 39.3, "y": 1486 },
        { "x": 39.35, "y": 1507 },
        { "x": 39.4, "y": 1599 },
        { "x": 39.45, "y": 1523 },
        { "x": 39.5, "y": 1472 },
        { "x": 39.55, "y": 1430 },
        { "x": 39.6, "y": 1415 },
        { "x": 39.65, "y": 1467 },
        { "x": 39.7, "y": 1460 },
        { "x": 39.75, "y": 1543 },
        { "x": 39.8, "y": 1548 },
        { "x": 39.85, "y": 1645 },
        { "x": 39.9, "y": 1594 },
        { "x": 39.95, "y": 1578 },
        { "x": 40, "y": 1595 },
        { "x": 40.05, "y": 1584 },
        { "x": 40.1, "y": 1541 },
        { "x": 40.15, "y": 1479 },
        { "x": 40.2, "y": 1570 },
        { "x": 40.25, "y": 1588 },
        { "x": 40.3, "y": 1583 },
        { "x": 40.35, "y": 1667 },
        { "x": 40.4, "y": 1833 },
        { "x": 40.45, "y": 1855 },
        { "x": 40.5, "y": 2013 },
        { "x": 40.55, "y": 2287 },
        { "x": 40.6, "y": 2581 },
        { "x": 40.65, "y": 2817 },
        { "x": 40.7, "y": 3071 },
        { "x": 40.75, "y": 3104 },
        { "x": 40.8, "y": 3032 },
        { "x": 40.85, "y": 2828 },
        { "x": 40.9, "y": 2647 },
        { "x": 40.95, "y": 2443 },
        { "x": 41, "y": 2314 },
        { "x": 41.05, "y": 2193 },
        { "x": 41.1, "y": 2172 },
        { "x": 41.15, "y": 2312 },
        { "x": 41.2, "y": 2857 },
        { "x": 41.25, "y": 3619 },
        { "x": 41.3, "y": 4618 },
        { "x": 41.35, "y": 5960 },
        { "x": 41.4, "y": 6873 },
        { "x": 41.45, "y": 7577 },
        { "x": 41.5, "y": 7763 },
        { "x": 41.55, "y": 7177 },
        { "x": 41.6, "y": 6507 },
        { "x": 41.65, "y": 5660 },
        { "x": 41.7, "y": 4775 },
        { "x": 41.75, "y": 4007 },
        { "x": 41.8, "y": 3358 },
        { "x": 41.85, "y": 3100 },
        { "x": 41.9, "y": 2632 },
        { "x": 41.95, "y": 2491 },
        { "x": 42, "y": 2383 },
        { "x": 42.05, "y": 2262 },
        { "x": 42.1, "y": 2220 },
        { "x": 42.15, "y": 2298 },
        { "x": 42.2, "y": 2321 },
        { "x": 42.25, "y": 2216 },
        { "x": 42.3, "y": 2220 },
        { "x": 42.35, "y": 2159 },
        { "x": 42.4, "y": 2038 },
        { "x": 42.45, "y": 1924 },
        { "x": 42.5, "y": 1704 },
        { "x": 42.55, "y": 1695 },
        { "x": 42.6, "y": 1594 },
        { "x": 42.65, "y": 1701 },
        { "x": 42.7, "y": 1689 },
        { "x": 42.75, "y": 1768 },
        { "x": 42.8, "y": 1717 },
        { "x": 42.85, "y": 1616 },
        { "x": 42.9, "y": 1553 },
        { "x": 42.95, "y": 1454 },
        { "x": 43, "y": 1473 },
        { "x": 43.05, "y": 1371 },
        { "x": 43.1, "y": 1322 },
        { "x": 43.15, "y": 1299 },
        { "x": 43.2, "y": 1286 },
        { "x": 43.25, "y": 1344 },
        { "x": 43.3, "y": 1372 },
        { "x": 43.35, "y": 1421 },
        { "x": 43.4, "y": 1518 },
        { "x": 43.45, "y": 1489 },
        { "x": 43.5, "y": 1499 },
        { "x": 43.55, "y": 1453 },
        { "x": 43.6, "y": 1466 },
        { "x": 43.65, "y": 1451 },
        { "x": 43.7, "y": 1407 },
        { "x": 43.75, "y": 1333 },
        { "x": 43.8, "y": 1301 },
        { "x": 43.85, "y": 1275 },
        { "x": 43.9, "y": 1307 },
        { "x": 43.95, "y": 1239 },
        { "x": 44, "y": 1203 },
        { "x": 44.05, "y": 1262 },
        { "x": 44.1, "y": 1199 },
        { "x": 44.15, "y": 1231 },
        { "x": 44.2, "y": 1272 },
        { "x": 44.25, "y": 1271 },
        { "x": 44.3, "y": 1156 },
        { "x": 44.35, "y": 1152 },
        { "x": 44.4, "y": 1144 },
        { "x": 44.45, "y": 1165 },
        { "x": 44.5, "y": 1113 },
        { "x": 44.55, "y": 1132 },
        { "x": 44.6, "y": 1155 },
        { "x": 44.65, "y": 1127 },
        { "x": 44.7, "y": 1091 },
        { "x": 44.75, "y": 1085 },
        { "x": 44.8, "y": 1134 },
        { "x": 44.85, "y": 1117 },
        { "x": 44.9, "y": 1128 },
        { "x": 44.95, "y": 1158 },
        { "x": 45, "y": 1068 },
        { "x": 45.05, "y": 1039 },
        { "x": 45.1, "y": 1079 },
        { "x": 45.15, "y": 1055 },
        { "x": 45.2, "y": 1090 },
        { "x": 45.25, "y": 1106 },
        { "x": 45.3, "y": 1121 },
        { "x": 45.35, "y": 1183 },
        { "x": 45.4, "y": 1163 },
        { "x": 45.45, "y": 1194 },
        { "x": 45.5, "y": 1152 },
        { "x": 45.55, "y": 1212 },
        { "x": 45.6, "y": 1202 },
        { "x": 45.65, "y": 1325 },
        { "x": 45.7, "y": 1327 },
        { "x": 45.75, "y": 1383 },
        { "x": 45.8, "y": 1455 },
        { "x": 45.85, "y": 1419 },
        { "x": 45.9, "y": 1393 },
        { "x": 45.95, "y": 1482 },
        { "x": 46, "y": 1418 },
        { "x": 46.05, "y": 1360 },
        { "x": 46.1, "y": 1291 },
        { "x": 46.15, "y": 1270 },
        { "x": 46.2, "y": 1227 },
        { "x": 46.25, "y": 1114 },
        { "x": 46.3, "y": 1119 },
        { "x": 46.35, "y": 1166 },
        { "x": 46.4, "y": 1136 },
        { "x": 46.45, "y": 1121 },
        { "x": 46.5, "y": 1165 },
        { "x": 46.55, "y": 1160 },
        { "x": 46.6, "y": 1122 },
        { "x": 46.65, "y": 1149 },
        { "x": 46.7, "y": 1123 },
        { "x": 46.75, "y": 1172 },
        { "x": 46.8, "y": 1215 },
        { "x": 46.85, "y": 1120 },
        { "x": 46.9, "y": 1137 },
        { "x": 46.95, "y": 1065 },
        { "x": 47, "y": 1078 },
        { "x": 47.05, "y": 1064 },
        { "x": 47.1, "y": 1086 },
        { "x": 47.15, "y": 1150 },
        { "x": 47.2, "y": 1096 },
        { "x": 47.25, "y": 1118 },
        { "x": 47.3, "y": 1188 },
        { "x": 47.35, "y": 1152 },
        { "x": 47.4, "y": 1222 },
        { "x": 47.45, "y": 1282 },
        { "x": 47.5, "y": 1310 },
        { "x": 47.55, "y": 1309 },
        { "x": 47.6, "y": 1351 },
        { "x": 47.65, "y": 1322 },
        { "x": 47.7, "y": 1318 },
        { "x": 47.75, "y": 1326 },
        { "x": 47.8, "y": 1247 },
        { "x": 47.85, "y": 1215 },
        { "x": 47.9, "y": 1248 },
        { "x": 47.95, "y": 1264 },
        { "x": 48, "y": 1209 },
        { "x": 48.05, "y": 1151 },
        { "x": 48.1, "y": 1175 },
        { "x": 48.15, "y": 1108 },
        { "x": 48.2, "y": 1049 },
        { "x": 48.25, "y": 1038 },
        { "x": 48.3, "y": 1055 },
        { "x": 48.35, "y": 1079 },
        { "x": 48.4, "y": 980 },
        { "x": 48.45, "y": 1044 },
        { "x": 48.5, "y": 1053 },
        { "x": 48.55, "y": 1053 },
        { "x": 48.6, "y": 1053 },
        { "x": 48.65, "y": 1079 },
        { "x": 48.7, "y": 1069 },
        { "x": 48.75, "y": 1096 },
        { "x": 48.8, "y": 1108 },
        { "x": 48.85, "y": 1122 },
        { "x": 48.9, "y": 1218 },
        { "x": 48.95, "y": 1204 },
        { "x": 49, "y": 1168 },
        { "x": 49.05, "y": 1180 },
        { "x": 49.1, "y": 1255 },
        { "x": 49.15, "y": 1251 },
        { "x": 49.2, "y": 1332 },
        { "x": 49.25, "y": 1455 },
        { "x": 49.3, "y": 1584 },
        { "x": 49.35, "y": 1667 },
        { "x": 49.4, "y": 1866 },
        { "x": 49.45, "y": 1949 },
        { "x": 49.5, "y": 1868 },
        { "x": 49.55, "y": 1816 },
        { "x": 49.6, "y": 1762 },
        { "x": 49.65, "y": 1737 },
        { "x": 49.7, "y": 1534 },
        { "x": 49.75, "y": 1506 },
        { "x": 49.8, "y": 1468 },
        { "x": 49.85, "y": 1486 },
        { "x": 49.9, "y": 1490 },
        { "x": 49.95, "y": 1532 },
        { "x": 50, "y": 1525 },
        { "x": 50.05, "y": 1507 },
        { "x": 50.1, "y": 1473 },
        { "x": 50.15, "y": 1353 },
        { "x": 50.2, "y": 1358 },
        { "x": 50.25, "y": 1358 },
        { "x": 50.3, "y": 1397 },
        { "x": 50.35, "y": 1430 },
        { "x": 50.4, "y": 1429 },
        { "x": 50.45, "y": 1587 },
        { "x": 50.5, "y": 1708 },
        { "x": 50.55, "y": 1788 },
        { "x": 50.6, "y": 1865 },
        { "x": 50.65, "y": 1749 },
        { "x": 50.7, "y": 1650 },
        { "x": 50.75, "y": 1382 },
        { "x": 50.8, "y": 1314 },
        { "x": 50.85, "y": 1180 },
        { "x": 50.9, "y": 1023 },
        { "x": 50.95, "y": 1064 },
        { "x": 51, "y": 982 },
        { "x": 51.05, "y": 921 },
        { "x": 51.1, "y": 1013 },
        { "x": 51.15, "y": 978 },
        { "x": 51.2, "y": 997 },
        { "x": 51.25, "y": 971 },
        { "x": 51.3, "y": 1015 },
        { "x": 51.35, "y": 925 },
        { "x": 51.4, "y": 893 },
        { "x": 51.45, "y": 959 },
        { "x": 51.5, "y": 913 },
        { "x": 51.55, "y": 842 },
        { "x": 51.6, "y": 945 },
        { "x": 51.65, "y": 933 },
        { "x": 51.7, "y": 973 },
        { "x": 51.75, "y": 981 },
        { "x": 51.8, "y": 958 },
        { "x": 51.85, "y": 1039 },
        { "x": 51.9, "y": 1091 },
        { "x": 51.95, "y": 1019 }
      ]
    },
     "phases": [
       { "name": "Andesine",  "AMCSD_code": 1052 },
       { "name": "Anhydrite", "AMCSD_code": 5117 },
       { "name": "Augite",    "AMCSD_code": 1 },
       { "name": "Bassanite", "AMCSD_code": 13868 },
       { "name": "Forsterite","AMCSD_code": 2674 },
       { "name": "Hematite",  "AMCSD_code": 143 },
       { "name": "Ilmenite",  "AMCSD_code": 9082 },
       { "name": "Maghemite", "AMCSD_code": 7898 },
       { "name": "Orthopyroxene", "AMCSD_code": 4556 },
       { "name": "Pigeonite", "AMCSD_code": 209 },
       { "name": "Fayalite",  "AMCSD_code": 174 },
       { "name": "Sanidine",  "AMCSD_code": 10740 }
     ]
    }
</script>
  </head>
  <body>
  <h1>ODR DEMO</h1>
  <div style="width:400px;height:200px;"><button>Execute analysis with ODR samples on QAnalyze</button></div>
  </body>
  </html>


