<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="XRD.Qanalyze is an automated cloud-based application for quantitative analysis of mineral samples using X-ray diffraction (XRD) data">
    <meta name="author" content="Ludovic Legrand">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>QAnalyze: Mineral analysis using X-Ray Diffraction data</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/static/stylesheets/css/theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/stylesheets/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="google-site-verification" content="0zANtQFfJ86Bg8Ztp8_aYcJ0do_6Xp2T9uQJnbxpiG4" />
  </head>
  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Quant Vision</span>
          </button>
          <a class="navbar-brand" href="/">QAnalyze</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right">
            <div id="userdisplay" class="navbar-text" style="display:none;"></div>
        </div>
        <ul class="nav navbar-nav">
	  <!-- <li class="active"><a href="/">Home</a></li> -->
	  <li><a href="/about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
</div>
    </nav>

    <div class="container theme-showcase" role="main">
      {% block content %}{% endblock %}
    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">© QAnalyze Ludo & Philippe 2016</p>
      </div>
    </footer>
    
  </body>
</html>
